# Firebase Cloud Firestore Configuration for DNAx Lab
VITE_FIREBASE_API_KEY=AIzaSyAXiS0WN2u5W3RnPiEjTKvJEj_ZgzlmTnc
VITE_FIREBASE_AUTH_DOMAIN=dnax-64b1f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=dnax-64b1f
VITE_FIREBASE_STORAGE_BUCKET=dnax-64b1f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=233724153587
VITE_FIREBASE_APP_ID=1:233724153587:web:65170631d00538766ff186
VITE_FIREBASE_MEASUREMENT_ID=G-LGPK9D7JZ3
